<header class="row pt-5" th:fragment="header(title, text)">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <div class="logo-wrap text-center">
                    <img src="../static/img/logo.svg" th:src="@{~/img/logo.svg}" alt="Logo"/>
                </div>
                <h1 th:text="${title}">Header text</h1>
            </div>
        </div>
        <div class="row">
            <p th:text="${text}">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
                in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
</header>